<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

This is my first proper website, actually, I've made websites earlier.<br/>
Hmm, now that I think about it, the first one I ever made was around in 7th-8th.<br/>
That was a nice website I made.<br/>
It was from HTML, I didn't know any of this Python and all then, it was pure HTML.<br/>
But I think then I didn't know how to handle the backend and everything, but still I think I did pretty good. <br/>
Then I believe I made my second website some days ago, through the Django tutorial.<br/>
But I didn't get more than half of the things.<br/>
Still though I am glad I went through the trouble of all that, it was nice.<br/>
Then it is now when i understand a lot of basic concepts, and am able to make a decent website with proper backend.<br/>
<hr>
Thank you.
<hr>
<br/>
<a href="{% url 'home' %}">back</a>
</body>
</html>